@import "tailwindcss";

@theme {
  --font-orbitron: var(--font-orbitron);
  --font-caveat: var(--font-caveat);
  --font-mono: var(--font-mono);
  
  --animate-marquee: marquee 30s linear infinite;
  
  @keyframes marquee {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-50%, 0, 0); }
  }
}

.font-orbitron {
  font-family: var(--font-orbitron), sans-serif;
}

.font-caveat {
  font-family: var(--font-caveat), cursive;
}

.font-mono {
  font-family: var(--font-mono), monospace;
}

body {
  background: black;
  color: white;
}

/* Global Selection styling */
::selection {
  background-color: #FB64B6;
  color: black;
}






